<%= javascript_include_tag 'watch' %>

<div id="screenstream" style="display: none;">
  <div id="bitrate_display">
    <strong>Screen: </strong><span class="screen"></span>
    <strong>Webcam: </strong><span class="webcam"></span>
  </div>
</div>
<h3 id="no_stream" style="display: none;">No publisher!</h3>